// This is a sample file for the credentials.js
// Replace the values below with correct values and save as credentials.js

// JSONBin, Replace the following values with your secret key and bin id
var jsonbin_key='$2a$10$ctK/nWbQynN0jutyQbMLaOjnNpiOeMK2UkSaUa9/f6k88hFOiDyhy'; // jsonbin secret key
var jsonbin_selected_stocks_bin_id = '5a75401dff917d792b85ab9b';                // jsonbin bin id

// IEX, Replace the following value with your IEX API
var iex_api_token="pk_9de8ac433b2548939c55fa3fdd537223";                        // iEX API token

// restdb.io
var restdb_url= 'finances-d04d';                                                // DB name
var restdb_api_key = '5e96deb34363778a670c23e2';                                // The CORS enabled API key (enabled for GET, POST and PUT)

// twelve data
var twelve_data_api_key = "91f060b3f1bd16671e0e08b83e29a3a";                   // Twelve Data API key